<% include ../partials/header %>
			<header class='pure-u-1'>
				<h1>S'craic lad?</h1>
			</header>

			<section class='pure-u-1'>
				<a class='pure-button pure-button-secondary' href='/admin/users/'>Manage users</a>
				<br>
				<br>
				<a class='pure-button pure-button-secondary' href='/admin/blog/'>Manage blog posts</a>
			</section>
<% include ../partials/footer %>
