
		</main>

		<footer class='pure-u-1-1'>
			<p class='text-muted'>© 2016 m1cr0man. Powered by <a href='http://expressjs.com' target='_blank'>ExpressJS</a> and <a href='http://purecss.io' target='_blank'>PureCSS</a></p>
		</footer>

		<!-- Custom JS -->
		<script type='text/javascript' src='/javascripts/custom.js'></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src='/javascripts/thirdparty/html5shiv.min.js'></script>
			<script src='/javascripts/thirdparty/respond.min.js'></script>
		<![endif]-->
	</body>
</html>
