
		<footer class='pure-u-1-1'>
			<p class='text-muted'>© 2016 m1cr0man. Powered by <a href='http://expressjs.com' target='_blank'>ExpressJS</a> and <a href='http://purecss.io' target='_blank'>PureCSS</a></p>
		</footer>

		<!-- Custom JS -->
		<script type='text/javascript' src='/javascripts/custom.js'></script>
	</body>
</html>
