<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta name='description' content='Programmer, Sys Admin, Land Rover Fanatic, Student, Single'>
		<meta name='author' content='m1cr0man'>
		<meta name='creator' content='m1cr0man'>
		<meta name='publisher' content='m1cr0man'>

		<title><%= locals.title || 'M1cr0man\'s Blog' %></title>

		<!-- Favicon -->
		<link rel='icon' href='/favicon.ico?v=057651f691c119d4501eaabc3de181e1'>

		<!-- Custom CSS -->
		<link rel='stylesheet' href='/stylesheets/custom.css'>

		<!-- Pure CSS -->
		<link rel='stylesheet' href='/stylesheets/thirdparty/pure.min.css'>

		<!--[if lte IE 8]>
		<link rel='stylesheet' href='/stylesheets/thirdparty/pure.responsive.oldie.min.css'>
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel='stylesheet' href='/stylesheets/thirdparty/pure.responsive.min.css'>
		<!--<![endif]-->
	</head>

	<body>

		<nav class='pure-menu pure-menu-horizontal'>
			<ul class='pure-menu-list'>
				<li class='pure-menu-item'><a href='/' id='logo' class='pure-menu-heading pure-menu-link'><img style='height: 80px;' src='/images/m1cr0man.png' alt='M1cr0man Logo'></a></li>
				<li class='pure-menu-item'><a href='/about' class='pure-menu-link'>About Me</a></li>
				<li class='pure-menu-item'><a href='/downloads' class='pure-menu-link'>Downloads</a></li>
				<!-- <li class='pure-menu-item'><a href='/gallery' class='pure-menu-link'>Gallery</a></li> -->
				<!-- <li class='pure-menu-item'><a href='/projects' class='pure-menu-link'>Projects</a></li> -->
			</ul>
		</nav>

		<main class='<%= locals.main_classes || '' %>'>
<% if (locals.error) { %>
			<div class='pure-u-1 error'>
				<h3>Something went wrong</h3>
				<p><%= error %></p>
			</div>
<% } -%>
