<% locals.main_classes = 'pure-g' -%>
<% include ../partials/header %>
			<article class='pure-u-2-3 blog-content'>
				<h1>The Land Rover 101 Ambulance</h1>
				<p class='blog-date'>23/02/16</p>
				<hr />
				<div class='slideshow'>

				</div>
				<p>
					A work in progress
				</p>
			</article>

			<span class='pure-u-1-24'></span>

			<aside class='pure-u-7-24'>
				<br>
				<br>
				<section id='twitter'>
					<a class='twitter-timeline' href='https://twitter.com/m1cr0m4n' data-widget-id='626805282237227009'>Tweets by @m1cr0m4n</a>
				</section>
			</aside>

			<!-- Twitter Widget -->
			<script id='twitter-wjs' type='text/javascript' src='https://platform.twitter.com/widgets.js'></script>
<% include ../partials/footer %>
