<% locals.main_classes = 'pure-g' -%>
<% include ../partials/header %>

			<span class='pure-u-1-8'></span>

			<article class='pure-u-3-4 blog-body'>
				<header>
					<h1>Find my Projects</h1>
					<hr>
				</header>

				<h2>Github</h2>
				<p>I upload any open-source projects I do to Github. Check out my profile <a href='https://github.com/m1cr0man/'>here!</a></p>

				<h2>Gaming</h2>
				<a href='http://www.starmademultiverse.com/files/file/8-starcraft-minoutaur-concept-battlecruiser/'><img src='http://www.starmademultiverse.com/index.php?app=downloads&module=display&section=screenshot&record=79&id=8&full=1' alt='Starcraft Minotaur Battlecruiser'></a>
				<p>I've done a few things in some computer games. The biggest by download count is <a href='http://www.starmademultiverse.com/files/file/8-starcraft-minoutaur-concept-battlecruiser/'>this ship I made for StarMade.</a></p>
				<p>I used to write <a href='http://www.computercraft.info/forums2/index.php?/topic/2496-m1cr0mans-programs-reactor-controller-w-thermal-monitor-support-login-pm-client-server-with-syncing/#entry18492'>Lua software for ComputerCraft</a>, a Minecraft mod. I have stopped this now but I made a LOT of programs there. It's funny to see how little I knew about code etiquette and proper techniques back then, and yet still managed to produce something reliable enough to control a volatile nuclear reactor.</p>
			</article>

			<span class='pure-u-1-8'></span>

<% include ../partials/footer %>
