<% include ../partials/header %>
			<header class='pure-u-1'>
				<h1>Login</h1>
			</header>

			<form class='pure-u-1 pure-u-lg-1-2 pure-form pure-form-stacked' action='' method='POST'>
				<label for='username'>Username</label>
				<input type='text' name='username' placeholder='Username' autocomplete='username' autofocus>
				<label for='password'>Password</label>
				<input type='password' name='password' placeholder='Password' autocomplete='current-password'>
				<br>
				<button type='submit' class='pure-button pure-button-success'>Login</button>
			</form>
<% include ../partials/footer %>
